{% extends "index.html" %}

{% block subtitle -%}
    : {{ section.title }}
{% endblock subtitle %}

{% block content %}

<div class="note-page">
<nav>
<ul>
{% for page in section.pages %}
    {{ page }}
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        {% if h2.level == 2 %}
                            <li>
                                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endfor %}
</ul>
</nav>

<div class="notes">
{% block notes %}

{{ section.content | safe }}

{% endblock notes %}
</div>

</div>

{% endblock content %}
